@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #d6d6d6;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Main Container 
.container {
  background-color: #ececec;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 600px;
  height: 500px;
  max-width: 90%;
  overflow: auto;
  text-align: center;
}
  */

/* Add Button 
button.add-btn {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button.add-btn:hover {
  background-color: #45a049;
}
 ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background-color: #ececec;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
*/

li.completed {
  text-decoration: line-through;
  color: #777;
}

/* Todo Dates */
li p {
  font-size: 12px;
  color: #888;
}

/* Buttons on Todos */
li button {
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 10px;
  font-size: 16px;
  transition: color 0.3s ease;
}

li button:hover {
  color: #ff5722;
}

button.complete-btn:hover {
  color: #4caf50;
}

/* Popups */
.confirm-popup {
  position: fixed;
  background-color: #ececec;
  /* margin-bottom: 50px; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1000;
  width: 90%;
  max-width: 400px;
}

.confirm-popup textarea,
.confirm-popup input {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: none;
  overflow: auto;
  min-height: 300px;
}

textarea,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.confirm-popup button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-popup button:first-of-type {
  background-color: #ff5722;
  color: white;
}

.confirm-popup button:last-of-type {
  background-color: #4caf50;
  color: white;
}

.confirm-popup button:hover {
  opacity: 0.9;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.striked {
  text-decoration: line-through;
  color: #888;
  font-style: italic;
  opacity: 0.7;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
}

li.completed:hover .striked {
  opacity: 1;
  color: #555;
}

.todo-container {
  margin: auto;
}

.todo-container-left {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}
.todo-container-right {
  display: flex;
  /* flex-direction: column; */
  gap: 5px;
}
.todo-container-left h3 {
  text-align: left;
  cursor: pointer;
}

.delete-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show-popup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.show-popup button {
  margin: auto;
  width: auto;
  align-self: flex-start;
}

.show-popup div {
  display: flex;
  justify-content: space-between;
}

.show-popup div p {
  font-size: 12px;
  color: #888;
}

.show-popup div .date-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.show-popup div .date-right {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.search-bar {
  width: 400px;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
